<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p %c{1}&gt; %m%n"/>
    </layout>
  </appender>

  <logger name="org.apache">
    <level value="warn" />
  </logger>

  <logger name="org.mulgara">
    <level value="warn" />
  </logger>

  <logger name="org.mulgara.itql.ItqlInterpreter">
    <level value="error" />
  </logger>
<!--
  <logger name="org.topazproject.otm">
    <level value="debug" />
  </logger>
-->
<!--
  <logger name="org.topazproject.ambra">
    <level value="debug" />
  </logger>
-->
  <root>
    <priority value ="info" />
    <appender-ref ref="console" />
  </root>
    
</log4j:configuration>
